<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>me.local.india-weather</string>
	<key>ProgramArguments</key>
	<array>
		<string>~/india-weather/weather</string>
	</array>
	<key>KeepAlive</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>19</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/IndiaWeather.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/IndiaWeather.out</string>
</dict>
</plist>
